* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --max-width: 500px;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
}

/*styling for header*/

.header {
    background-color: #7977db;
    color: white;
    padding: 20px;

    display: flex;
    flex-direction: column;

    align-items: center;
}
.header-body {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    flex-flow: column;
}
.header-name {
    display: flex;
    flex-direction: column;
    align-self: center;

    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.8rem;
}
.name-primary {
    font-size: 1.4rem;
    font-weight: 800;
}

/*styling for social media*/

.socialMedia {
    padding: 10px 0;
    display: flex;
    flex-flow: column;
}
.socialMedia header {
    font-weight: 700;
}
.socialMedia-body {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}
.socialMedia-body-item {
    width: 200px;
    padding: 10px 20px;
    margin: 4px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    cursor: pointer;
    transition: 0.1s ease;

    color: white;
    text-decoration: none;
}
.socialMedia-body-item:hover,
.socialMedia-body-item:focus {
    outline: none;
    background-color: #6260b1;
    font-weight: 700;
}
.socialMedia-body-item img {
    width: 30px;
    height: 30px;
    padding: 6px;
}
.socialMedia-body-item span {
    justify-content: start;
    padding: 6px;
}

/*styling for description*/

.description {
    background-color: white;
    padding: 30px 30px;
    box-shadow: inset 0px 2px 10px rgb(204, 204, 204);

    display: flex;
    flex-flow: column;
    align-items: center;
}
.description p {
    display: inline-block;
    max-width: var(--max-width);
}

/*styling for skill*/

.skill {
    background-color: #e8e8e8;
    padding: 20px 10px;
    margin: 0px 0;
    box-shadow: inset 0px 2px 10px rgb(204, 204, 204);

    display: flex;
    flex-flow: column;
    align-items: center;
}

.skill-body {
    margin: 4px 10px;
    padding: 4px 4px;

    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: var(--max-width);
}
.skill-body header {
    font-weight: 700;
}
.skill-body span {
    margin: 2px 10px 2px 10px;
}
